/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /* @import "components/*"; */

  /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* <----------------------------------------------------------------------->- */
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin: 0;
  letter-spacing: -1px;
}

.main-content {
  /* width: 89.6%; */
  /* height: 100%; */
  background: #121212;
  position: relative;
  /* right: 0; */
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}

.main-content-container {
  min-height: 0;
  height: calc(100vh - 91px);
  overflow: auto;
  display: block;
  overflow-x: hidden;
  width: calc(100vw - 200px);
}

main::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;            
}

main::-webkit-scrollbar-thumb {
  border-radius: 12px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #414141; 
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

div#app {
  display: flex;
  height: 100vh;
}

#root {
  background-color: #121212;
  height: 100vh;
}

#main {
  height: 100%;
  min-width: 50%;
  flex-grow: 1;
  position: relative;
}

.hidden, #hidden {
  display: none;
}

p > a { 
  color: white;
}

.spinner-container {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  min-height: 0;
  overflow: auto;
  overflow-x: hidden;
  background: #121212;
  height: calc(100vh - 91px);
  width: 100%;
}

.fa-spinner {
  font-size: 165px;
  color: #9f9f9f;
  -webkit-animation: spinnerrotate 2s linear infinite;
  -moz-animation: spinnerrotate 2s linear infinite;
  -ms-animation: spinnerrotate 2s linear infinite;
  -o-animation: spinnerrotate 2s linear infinite;
  animation: spinnerrotate 2s linear infinite;
}

.add-song-confirmation-container, .hide-alert {
  width: auto;
  display: flex;
  height: 100vh;
  position: fixed;
}
.add-song-confirmation-container {
  width: 100vw;
  justify-content: center;
  pointer-events: none;
  animation: showalert 4s forwards; 
}

.hide-alert {
  display: none;
}

span.add-song-confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  width: auto;
  height: 40px;
  padding: 0px 18px;
  color: white;
  letter-spacing: 0.25px;
  background: rgb(72, 126, 241);
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 21px 5px #000000;
  box-shadow: 0px 3px 21px 5px #000000;
  z-index: 10000;
  margin-top: calc(100vh - 158px);
  margin-left: calc(100vw - 87vw);
}

@keyframes spinnerrotate {
  0% { 
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes showalert {
  0% { 
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}