#hiphop {
  background: rgb(147,93,20);
  background: linear-gradient(0deg, rgba(147,93,20,1) 0%, rgba(244,154,35,1) 100%);
}

#pop {
  background: rgb(118,145,121);
  background: linear-gradient(0deg, rgba(118,145,121,1) 0%, rgba(194,239,199,1) 100%);
}

#rock {
  background: rgb(141,18,30);
  background: linear-gradient(0deg, rgba(141,18,30,1) 0%, rgba(234,35,50,1) 100%);
}

#rnb {
  background: rgb(145,33,99);
  background: linear-gradient(0deg, rgba(145,33,99,1) 0%, rgba(239,55,165,1) 100%);
}

.genre-page-container {
  height: calc(100vh - 91px);
}

.genre-page-header {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: flex-end;
}

h1.genre-page-title {
  color: white;
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 25px;
  margin-left: 25px;
}

.genre-section-container {
  padding: 0px 50px;
  padding-top: 30px;
}