.navbar {
  display: flex;
  height: 34px;
  text-align: right;
  background: none;
  position: fixed;
  top: 0;
  width: calc(100vw - 230px);
  z-index: 9000;
  left: 198px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.nav-content-container {
  display: flex;
  width: 100%;
  height: 31px;
  justify-content: flex-start;
  margin-left: 22px;
  font-size: 27px;
  align-items: center;
}

.nav-button-container {
  width: 91px;
  display: flex;
  justify-content: space-around;
}

.navbar-content {
  margin-left: 32px;
}

h1.navbar-title, h1.hide-navbar-title {
  color: white;
  font-weight: 500;
  letter-spacing: 0.25px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  cursor: default;
}

h1.hide-navbar-title {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  cursor: default;
}

@keyframes fadein {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from { 
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#back-button-container, #forward-button-container {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  position: relative;
}

div#back-button-container, div#forward-button-container {
  width: 15px;
  height: 25px;
}

span.material-icons {
  color: white;
  background: black;
  border-radius: 14px;
  cursor: pointer;
  font-size: 28px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar

.user-dropdown {
  margin-right: 4px;
}

.user-dropdown-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 48px;
  right: 14px;
  background: #282828;
  height: 176px;
  width: 129px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.user-dropdown-options > div {
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  height: 10px;
  display: flex;
  width: 98px;
  align-items: center;
  padding: 12px;
  border-radius: 2px;
  cursor: default;
  display: flex;
  justify-content: space-between;
}

.user-dropdown-options > div:hover {
  background: #4f4f4f;
}

#logout-dropdown {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}


#logout-dropdown:before {
  border-top: 1px solid #4f4f4f;
  width: 122px;
  height: 10px;
  position: absolute;
  content: "";
  top: 139px;
  left: 3px;
}

.user-dropdown > button {
  border: 0px;
  border-radius: 26px;
  outline: 0;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 13px;
  height: 27px;
  width: 126px;
  margin: 3px auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background: #000000;
}

.user-dropdown > button:hover, .user-dropdown > button:focus {
  background-color: #1b1b1b;
}