.playbar-container {
  height: 90px;
  border-top: 0.01px solid #282828;
  background-color: #121212;
  position: fixed;
  bottom: 0%;
  width: 100%;
  min-width: 700px;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playbar-controls {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  width: 200px;
  height: 54px;
  align-items: center;
}

#random, #back, #forward, #repeat {
  color: #B3B3B3;
}

#play {
  color: white;
  font-size: 35px;
  transition: all 0.1s ease-out;
}

#play:hover {
  transform: scale(1.07);
}

#random:hover, #back:hover, #forward:hover, #repeat:hover {
  color: white;
}

.playbar-song-info-container {
  display: flex;
  color: white;
  align-items: center;
  width: 30%;
  justify-content: flex-start;
  padding-left: 20px;
}

.playbar-song-details-container {
  display: flex;
  flex-direction: column;
}

.song-progress-controls-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.song-progress-bar-container {
  width: 100%;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
}

input.progress-bar {
  width: 100%;
}

.volume-container {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding-right: 20px;
  color: white;
  align-items: center;
}