div#playlist-show {
  /* width: 89.6%; */
  height: 100%;
  background: #121212;
  position: relative;
  /* right: 0; */
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 91px;
}

img.playlist-photo {
  width: 232px;
  height: 232px;
  filter: drop-shadow(3px 4px 8px #222);
  position: absolute;
  margin-left: 35px;
  top: 160px;
}


.playlist-header {
  color: white;
  display: flex;
  height: 340px;
  padding-top: 82px;
  margin-bottom: 10px;
  background: linear-gradient(#535353, #2A2A2A);
}

.playlist-header span {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: default;
}

.playlist-details {
  margin-left: 300px;
  margin-top: 173px;
  color: white;
}

.show-page-controls {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  align-items: center;
  color: #ADAEAE;
  width: 215px;
  padding: 0px;
}

img#show-page-play {
  width: 67px;
}

h1.playlist-name {
  font-size: 60px;
  overflow: hidden;
  font-weight: 600;
  padding: 9px 0px 15px 0px;
  text-overflow: ellipsis;
}

p.username {
  font-weight: 300;
  letter-spacing: 0.5px;
}

/* .playlist-song-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 74%;
  background: #121212;
  margin: 16px 0px -35px 198px;
  width: 86%;
  overflow-x: hidden;
  overflow-y: auto;
}

.song-columns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 192px auto;
  padding: 94px 0px 7px 0px;
  color: #B3B3B3;
  font-size: 12px;
  letter-spacing: 1px;
  height: 35px;
}

.song-columns ul {
  display: flex;
  justify-content: space-between;
  margin: 2px auto 2px 86px;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px 0px 0px;
  position: -webkit-sticky;
  position: sticky;
}

.song-column-num {
  font-size: 18px;
  margin-top: -3px;
  margin-right: 14px;
}

.song-column-album {
  margin-left: 389px;
}

#border-bottom {
  border-bottom: 0.1px solid #363636;
  width: 108%;
  margin: 7px 0px 0px 52px;
}

.num-title {
  display: flex;
}

ul.song-list {
  width: 80%;
  display: table;
  color: white;
  letter-spacing: 0.1px;
  font-size: 20px;
  padding: 8px 170px 221px 0px;
}

.song {
  display: flex;
  flex-direction: row;
  padding: 21px;
} */

table.song-columns {
  width: 100%;
  color: #B3B3B3;
  position: absolute;
  padding: 0 50px 0 50px;
  border-collapse: separate;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #4CAF50; */
  color: white;
}

td {
 max-width: 100px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}