.browse-genres-container {
  display: flex;
  flex-direction: column;
  padding: 54px 40px;
  height: calc(100vh - 200px);
}

.search-title {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 0.2px;
  color: white;
  margin-top: 23px;
}

.search-index {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  /* grid-template-rows: repeat(auto-fill, 267px); */
  grid-auto-rows: 255px;
  width: 100%;
  padding-bottom: 50px;
  margin-top: 21px;
}

div.genre-button {
  border-radius: 8px;
  padding: 35px;
  color: white;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.2px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

div.genre-button:hover {
  transform: scale(1.02);
}

.search-results-container {
  position: relative;
  top: 91px;
}

.search-songs-container {
  display: flex;
  flex-direction: column;
}
