.song-dropdown-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5px;
  background: #282828;
  height: 179px;
  width: 236px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.song-dropdown-options > div {
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  height: 10px;
  display: flex;
  width: 205px;
  align-items: center;
  padding: 12px;
  border-radius: 3px;
  cursor: default;
}

.song-dropdown-options > div:hover {
  background: #4f4f4f;
}