#splash {
  background-image: url("splash_background.png");
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 944px;
  width: auto;
  text-align: center;
}

.splash-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: fixed; 
  top: 0; 
  width: 100%;
  height: 80px;
  z-index: 1;
}

#splash-nav-logo {
  height: 41px;
  width: auto;
  padding: 18px 0px 0px 80px;
  float: left;
}


.splash-links-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 17px 70px 0px 0px;
  margin: 0;
}

.splash-link, .splash-link-break {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 0px;
}

.splash-link {
  margin-right: 7px;
  width: 64px;
}

.splash-link-break {
  width: 30px;
  margin-right: 5px;
}

.splash-link a {
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: 0.3s;
  font-weight: 500;
  font-size: 15px;
}

a:visited {
  color: white;
}

a:hover {
  color: #34D360; 
  cursor: pointer;  
}

.splash-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

#tagline {
  font-size: 100px;
  transition: transform .3s;
}

#tagline:hover {
  transform: scale(1.04);
  color: white;
  cursor: default;
}

#tagline-1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #34D360;
  height: 150px;
  text-align: center;
  margin-top: 300px;
  font-size: calc(80px + 1.5vw);
}

#tagline-2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #34D360;
  height: 150px;
  text-align: center;
  margin-top: -39px;
  font-size: calc(67px + 1.5vw);
  margin-bottom: -24px;
}

#sub-tagline {
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  color: #34D360;
  letter-spacing: 0.1px;
  margin-bottom: 36px;
}

#splash-demo-button {
  border: 0px;
  background-color: #34D360;
  color: #2D4EB9;
  border-radius: 26px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 13px;
  height: 47px;
  width: 250px;
  margin: 3px auto;
  cursor: pointer;
  transition: 0.3s;
}

#splash-demo-button:hover {
  background: #ffffff;
}

#splash-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 537px;
}

#splash-footer-logo {
  height: 41px;
  width: auto;
  padding: 86px 0px 0px 7px;
  float: left;
  margin-right: 0;
}

#tech-stack-title {
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #919496;
  margin-bottom: 0px;
}

#tech-stack-list {
  padding: 0px 0px 0px 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 100;
  margin-top: 108px;
  letter-spacing: 0.5px;
}

#tech-stack-list li {
  padding: 27px 0px 0px 0px;
  text-align: center;
  transition: 0.3s;
}

#tech-stack-list li:hover, #made-with-love:hover {
  color: #34D360;
  transition: 0.3s;
  cursor: default
}

#made-with-love {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 100px;
  width: 130px;
  height: 40px;
  transition: 0.3s;
}